node_modules
.env
.env.local
.env.*.local

# Expo
.expo
dist
.env.production

# iOS
ios/Pods
ios/Pods.lock
ios/build
ios/.xcode.env.local
ios/GoogleService-Info.plist
*.xcworkspace

# Android
android/.gradle
android/.android
android/build
android/app/build
android/app/google-services.json
android/.idea

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.jest

# Misc
.cache

